<div>
    <h1>OrderView - Dashboard</h1>
    <h4>Select an order</h4>
    <select ng-model="selectedOrder" ng-options="x.Id for order in vm.orders">        
    </select>
    <ul class="row list-unstyled  list-inline">
        <li ng-repeat="item in vm.orderItems">
            <div>
                <h4>Product Code: {{ item.ProductCode }}</h4>
                <p>Price: {{ item.TotalPrice | currency}}</p>
                <p>Discount: {{ item.Quantity }}</p>
            </div>
        </li>
    </ul>
</div>